
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>SPSP</h1>
                <h2>January 2013</h2>
            </hgroup>
            <p>
                Thanks for visiting my poster. For more information please feel free to contact me at <a href="mailto:e.kalokerinos@uq.edu.au">e.kalokerinos@uq.edu.au</a>
            </p>
        </div>
    </section>
}
<h3>The Health Protective Function of the Aging Positivity Effect</h3>

@section outsideBody
{
    <img src="@Url.Content("~/Images/Elise_Poster_Small.png")" alt="The Health Protective Function of the Aging Positivity Effect" />
}