@{
    ViewBag.Title = "Index";
    ViewBag.SelectedMenu = "Research";
}

<section class="slice slice-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Research</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    I have two primary research interests: Positive emotions and stereotype threat. In my positive emotions work, I focus on the personal and social consequences 
                    of experiencing and expressing positive emotions. In my work on stereotype threat, I investigate the detrimental consequences of stereotype threat in the workplace. 
                    My research is inter-disciplinary, spanning social, organizational, and lifespan developmental psychology.                 
                </p>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Personal and social consequences of experiencing, regulating, and expressing positive emotion</h2>
                <p>
                    In this line of work, I investigate personal and social consequences of positive emotions. There is currently an asymmetry in emotion literature whereby 
                    researchers focus more consistently on the experience and expression of negative emotions compared to positive emotions. The extant literature presents a 
                    nuanced perspective on negative emotion regulation—acknowledging that it can be functional either to up- or down-regulate the experience and expression of 
                    negative emotions depending on context. However, there is no such subtlety in the literature on positive emotions: the current view is simply “the more the better”. 
                    My work brings this nuance to the literature on positive emotion regulation, demonstrating that positive emotions can be personally and socially beneficial in 
                    some situations, and costly in others.                
                </p>
                <h4>Experiencing positive emotions: The aging positivity effect and immune function (Dissertation project)</h4>
                <p>
                    My dissertation project (Kalokerinos, von Hippel, Henry, & Trivers, under review) investigates the aging positivity effect, which is the tendency for older adults to focus on positive over negative emotional material. Avoiding negative information can have potentially harmful consequences, particularly in older populations who are known to be vulnerable to fraud. Drawing from evolutionary theorizing, we proposed that the aging positivity effect might have some functional benefits that offset these costs. Positive affect is known to be associated with better immune functioning. We therefore hypothesized that the positivity effect is maintained in older adults in part as a health protective strategy. To test this hypothesis, we assessed positivity in recall and blood indicators of immune function among older adults across a three year period. We found that older adults who recalled more positive information at initial testing showed blood markers indicative of better immune functioning one and two years later (increased CD4 counts and decreased CD4 activation), suggesting that older adults may show a positivity effect in part to combat increasing health challenges.
                </p>
                <h4>Expressing positive emotions: The social consequences of positive emotion regulation and expression</h4>
                <p>
                    My work in this area seeks to challenge two assumptions: 1) Positive emotion expression is always good and 2) Suppressing the expression of positive emotion is always bad. Our research investigates the important boundaries of these assumptions by exploring situations in which the expression of positive emotions can come with social costs, and the suppression of positive emotions can reap social rewards. In three studies, my colleagues and I found that winners who expressed positive emotion in the presence of a loser were rated as more hubristically prideful, less likeable, and less desirable as friends than non-expressive winners (Kalokerinos, Greenaway, Pedder, & Margetts, 2014). Participants perceived that non-expressive winners were using emotion suppression strategies, suggesting that outperformance is one context in which expression can be negative, and suppression can be positive. We’re currently conducting several studies to continue this line of work across domains including personality perception, status, and performance. 
                </p>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Stereotype threat in organizations</h2>
                <p>
                    I also conduct research investigating stereotype threat, or the concern of being evaluated according to a negative stereotype about one’s group, in organizational contexts. Despite the vast array of studies demonstrating the negative consequences of stereotype threat in laboratory settings, very little research has examined the antecedents and consequences of stereotype threat outside the laboratory, particularly in organizational settings. My empirical work in this area has thus far focused on older workers, an important and understudied work group. My colleagues and I found that stereotype threat among older (but not younger) workers is associated with negative work attitudes and greater intentions to quit (von Hippel, Kalokerinos, & Henry, 2013). We followed up this empirical work with a focal article in Industrial and Organizational Psychology: Perspectives on Science and Practice (Kalokerinos, von Hippel, & Zacher, in press), in which we argue that stereotype threat has an important but under-studied impact on organizational outcomes. We’re currently conducting several lines of research in this area, including work investigating stereotype threat among male child protection workers, a project aiming to understand why research seems to have problematic consequences for older, but not younger, workers, and research investigating the how stereotype threat can influence working women’s interest in, and uptake of, work-family policies.
                </p>
            </div>
        </div>
    </div>
</section>
