@{
    ViewBag.Title = "Index";
    ViewBag.SelectedMenu = "Research";
}

<section class="slice slice-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Research</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2>The aging positivity effect</h2>
                <p>
                    The aging positivity effect refers to the tendency for older adults to focus on positive over negative emotional stimuli.
                    Given the potentially harmful consequences of avoiding negative information, we hypothesized that this aging positivity effect may provide benefits that offset its costs.
                    There is a well-established link between positivity and health, and keeping healthy is a major concern for older adults, suggesting that the positivity effect could
                    be maintained because it confers health benefits. We found that older adults who recalled more positive information at initial testing showed blood markers
                    indicative of better immune functioning (increased CD4 counts and decreased CD4 activation) one and two years later, suggesting that older adults may show a positivity
                    effect in part to combat increasing health challenges.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>The consequences of expressing and suppressing positive emotions</h2>
                <p>
                    Typically, there are personal and social benefits to expressing positive emotion, and personal and social costs to suppressing positive emotion.
                    We examine the contextual boundaries of these effects, investigating situations in which down-regulating positive emotions may have social benefits.
                    In three studies, we found that winners who express positive emotions are perceived negatively, an effect that is mediated through the perception that expressive
                    winners are hubristically prideful (Kalokerinos, Greenaway, Pedder, & Margetts, in press). We’re currently investigating the effects of emotion expression and suppression
                    on personality perception, the costs and benefits of reappraisal and suppression as positive emotion down-regulation strategies, and the role of testosterone in emotion
                    expression and regulation.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Stereotype threat in organizations</h2>
                <p>
                    Negative stereotypes about different groups persist in organizations. Employees from such groups may experience stereotype threat, or the concern that they are being judged
                    on the basis of demeaning stereotypes about groups to which they belong. Our empirical work in this area has thus far focused on older workers, an important and understudied
                    work group. We found that stereotype threat among older workers is associated with negative work attitudes and greater intentions to retire (von Hippel, Kalokerinos, & Henry, 2013).
                    We’ve followed up this empirical work with a focal article in Industrial and Organizational Psychology: Perspectives on Science and Practice (Kalokerinos, von Hippel, & Zacher, in press),
                    in which we argue that stereotype threat is important for a variety of organizational outcomes. We’re currently investigating why stereotype threat seems to have problematic
                    consequences for older, but not younger, workers, and whether stereotype threat may influence working women’s interest in, and use of, work-family policies.
                </p>
            </div>
        </div>
    </div>
</section>
