
@{
    ViewBag.Title = "Index";
}

<section class="slice">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>News</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive" src="@Url.Content("~/Images/austintexas-panorama-small.jpg")" />
            </div>
            <div class="col-sm-8">
                <h2>I'm heading to SPSP 2014!</h2>
                <p>Post body goes here.</p>
            </div>
        </div>
    </div>
</section>