
@{
    ViewBag.Title = "Index";
}

<section class="slice">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>News</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive" src="@Url.Content("~/Images/journals.jpg")" />
            </div>
            <div class="col-sm-8">
                <h2>Focal article in <i>Industrial and Organizational Psychology: Perspectives on Science and Practice</i> online: Commentaries being accepted for peer review until Feb 25th 2014</h2>
                <p>
                    We’ve just published a focal article (Kalokerinos, von Hippel, and Zacher, in press) examining stereotype threat in the workplace.
                    The goal of this article was to examine whether stereotype threat is a useful construct for organizational psychology research and practice, and we’re hoping it will help to
                    stimulate discussion and debate about the role of stereotype threat in I-O Psychology.
                </p>
                <p>
                    Our article will be followed by a series of peer commentaries, which I’m really looking
                    forward to reading. Peer reviewed commentaries are being accepted until February 25th, and you can find the article at
                    <a href="http://www.siop.org/journal/siopjournal.aspx">http://www.siop.org/journal/siopjournal.aspx</a> and
                    commentary guidelines at <a href="http://www.siop.org/journal/Commentary_Guidelines.aspx">http://www.siop.org/journal/Commentary_Guidelines.aspx</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="slice">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive" src="@Url.Content("~/Images/austintexas-panorama-small.jpg")" />
            </div>
            <div class="col-sm-8">
                <h2>I'm heading to SPSP 2014!</h2>
                <p>
                    I’m excited to be heading to the 2014 annual meeting of the <a href="http://spspmeeting.org/2014/General-Info.aspx">Society for Personality and Social Psychology in Austin, Texas</a>.
                </p>
                <p>
                    <a href="http://spspmeeting.org/2014/Program/Poster-Assignments.aspx?session=Poster%20Session%20G#Poster Session G">I’ll be presenting a poster in Session G</a>,
                    at G100 between 6:15 – 7:45 on Saturday the 15th of February. I’ll also be presenting my poster at the Emotion preconference
                    <a href="http://emotionpreconference.org">(http://emotionpreconference.org)</a> on Wednesday February 12th.
                    My poster is titled “Don’t grin when you win: The social costs of positive emotion expression in performance situations”, and outlines the results we recently had published
                    in Emotion. Watch this space for a copy of my poster!
                </p>
            </div>
        </div>
    </div>
</section>