
@{
    ViewBag.Title = "Index";
}

<section class="slice">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Publications</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled publication-list">
                    <li>
                        <p>
                            <strong>Kalokerinos, E.K.</strong>, Greenaway, K. H., & Denson, T. F. (2015). Reappraisal but not suppression down-regulates the experience of positive and negative emotion. <i>Emotion</i>. Advance online publication. doi: 10.1037/emo0000025
                            <a href="~/Documents/Kalokerinos, Greenaway, & Denson, 2014.pdf"><i class="fa fa-file-pdf-o"></i> Download PDF</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Kalokerinos, E. K.</strong>, von Hippel, C., & Henry, J. D. (in press). Job attitudes are differentially associated with bridge employment and phased retirement among older Australian employees. Work, Aging, and Retirement.
                            <a href="~/Documents/Kalokerinos, von Hippel, & Henry, 2015.pdf"><i class="fa fa-file-pdf-o"></i> Download PDF</a>                            
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Kalokerinos, E.K.</strong>, von Hippel, W., Henry, J. D., & Trivers, R. (2014). The aging positivity effect and immune function: Positivity in recall predicts higher CD4 counts and lower CD4 activation. <i>Psychology and Aging, 29</i>(3), 636-641. doi: 10.1037/a0037452
                            <a href="~/Documents/Kalokerinos, von Hippel, Henry & Trivers, 2014.pdf"><i class="fa fa-file-pdf-o"></i> Download PDF</a>
                        </p>
                        <ul>
                            <li>
                                <a href="http://www.uq.edu.au/news/article/2014/09/positive-boost-immune-system">Press Release</a>
                            </li>
                            <li>
                                Selected media coverage:
                                <a href="http://www.businessinsider.com.au/a-positive-attitude-can-keep-you-healthy-and-living-longer-2014-9#social">Business Insider</a> |
                                <a href="http://www.couriermail.com.au/news/queensland/happiness-and-positivity-the-key-to-living-longer-uq-scientists-discover/story-fnihsrf2-1227058895822?nk=d36f30b7d68c739a9c375fcaf0784a94">Courier Mail</a> |
                                <a href="http://www.skynews.com.au/news/offbeat/2014/09/15/positive-people-live-longer.html">Sky News</a> |
                                <a href="http://www.brisbanetimes.com.au/queensland/accentuate-the-positive-to-stay-healthy-20140915-10h2hp.html">Brisbane Times</a> |
                                <a href="http://www.sbs.com.au/news/article/2014/09/15/accentuate-positive-stay-healthy">SBS News</a> |
                                <a href="http://www.stuff.co.nz/life-style/well-good/inspire-me/10510828/Stay-positive-its-good-for-you-actually">Stuff.co.nz</a> |
                                <a href="http://www.universityherald.com/articles/11438/20140918/positive-behaviour-attitude-healthy-ageing-immune-longevity.htm">University Herald</a> |
                                <a href="http://www.scienceworldreport.com/articles/17229/20140918/positive-attitude-boosts-longevity-in-older-adults.htm">Science World Report</a> |
                                <a href="http://www.ibtimes.co.in/building-positive-attitude-improves-immunity-life-span-609201">International Business Times</a> |
                                <a href="http://www.natureworldnews.com/articles/9033/20140915/positive-attitude-key-longevity.htm">Nature World News</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            <strong>Kalokerinos, E. K.</strong>, Greenaway, K. H., Pedder, D. J., & Margetts, E. A. (2014). Don’t grin when you win: The social costs of positive emotion expression in performance situations. <i>Emotion, 14</i>(1), 180-186. doi: 10.1037/a0034442
                            <a href="~/Documents/Kalokerinos, Greenaway, Pedder, & Margetts, 2014.pdf"><i class="fa fa-file-pdf-o"></i> Download PDF</a>
                        </p>
                        <ul>
                            <li>
                                Media Coverage:
                                <a href="http://www.theatlantic.com/health/archive/2014/03/why-oscar-winners-say-they-re-humbled/284148/">The Atlantic</a> |
                                <a href="http://www.menshealth.com/best-life/accept-victory">Men’s Health</a>
                            </li>
                            <li>
                                Coverage for <a href="http://www.uq.edu.au/research/research-at-uq/discovery-at-uq">The University of Queensland Discovery 2014 magazine (page 31)</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            <strong>Kalokerinos, E. K.</strong>, von Hippel, C., & Zacher, H. (2014). Is stereotype threat a useful construct for organizational psychology research and practice? [Target article]. <i>Industrial and Organizational Psychology: Perspectives on Science and Practice, 7</i>(3), 381-402. doi: 10.1111/iops.12167
                            <a href="~/Documents/Kalokerinos, von Hippel, & Zacher, 2014.pdf"><i class="fa fa-file-pdf-o"></i> Download PDF</a>
                        </p>
                        <ul>
                            <li>
                                <a href="http://onlinelibrary.wiley.com/doi/10.1111/iops.2014.7.issue-3/issuetoc" target="blank">Link to 16 different commentaries on this article</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            Greenaway, K.H., Louis, W.R., Parker, S.L., <strong>Kalokerinos, E.K.</strong>, Smith, J.R., & Terry, D.J. (2014). Measures of coping for psychological well-being. In G.J. Boyle, D.H. Saklofske, & G. Matthews (eds.), <i>Measures of Personality and Social Psychological Constructs</i>, pp. 322–351, Academic Press: USA.
                        </p>
                    </li>
                    <li>
                        <p>
                            von Hippel, C., <strong>Kalokerinos, E. K.</strong>, & Henry, J. D. (2013). Stereotype threat among older employees: Relationship with job attitudes and turnover intentions.
                            <i>Psychology and Aging, 28</i>(1), 17-27. doi: 10.1037/a0029825
                            <a href="~/Documents/von Hippel, Kalokerinos & Henry, 2013.pdf"><i class="fa fa-file-pdf-o"></i> Download PDF</a>
                        </p>
                        <ul>
                            <li>
                                <a href="http://www.productiveageing.com.au/userfiles/file/Stereotype%20Threat%20-%20full%20report.pdf">National Seniors Australia (funding agency) grant report</a>
                            </li>
                            <li>
                                <a href="http://nationalseniors.com.au/about-us/press-%26-media/demeaning-stereotypes-threat-older-workers-study-finds">Press release on this project from National Seniors Australia</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            von Hippel, C., & <strong>Kalokerinos, E. K.</strong> (2012). When temporary employees are perceived as threatening: Antecedents and consequences.
                            <i>Leadership & Organization Development Journal, 33</i>(2), 200-216. doi: 10.1108/01437731211203483
                            <a href="~/Documents/von Hippel & Kalokerinos, 2012.pdf"><i class="fa fa-file-pdf-o"></i> Download PDF</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>