
@{
    ViewBag.Title = "Index";
}

<section class="slice">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Publications</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled publication-list">
                    <li>
                        <p>
                            <strong>Kalokerinos, E.K.</strong>, Greenaway, K. H., & Denson, T. F. (in press). Reappraisal but not suppression down-regulates the experience of positive and negative emotion. <i>Emotion</i>.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Kalokerinos, E.K.</strong>, von Hippel, W., Henry, J. D., & Trivers, R. (in press). The aging positivity effect and immune function: Positivity in recall predicts higher CD4 counts and lower CD4 activation. <i>Psychology and Aging</i>.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Kalokerinos, E. K.</strong>, Greenaway, K. H., Pedder, D. J., & Margetts, E. A. (2014). Don’t grin when you win: The social costs of positive emotion expression in performance situations. <i>Emotion, 14</i>(1), 180-186. doi: 10.1037/a0034442                            
                        </p>
                        <ul>
                            <li>
                                Link:
                                <a href="http://psycnet.apa.org/psycarticles/2013-38387-001.pdf" target="blank">http://psycnet.apa.org/psycarticles/2013-38387-001.pdf</a>
                            </li>
                            <li>
                                Men’s health article covering this research <a href="http://www.menshealth.com/best-life/accept-victory" target="blank">http://www.menshealth.com/best-life/accept-victory</a>
                            </li>
                            <li>
                                Article by Matthew Hutson for The Atlantic covering this research: <a href="http://www.theatlantic.com/health/archive/2014/03/why-oscar-winners-say-they-re-humbled/284148/">http://www.theatlantic.com/health/archive/2014/03/why-oscar-winners-say-they-re-humbled/284148/</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            <strong>Kalokerinos, E. K.</strong>, von Hippel, C., & Zacher, H. (in press). Is stereotype threat a useful construct for organizational psychology research and practice?
                            <i>Industrial and Organizational Psychology: Perspectives on Science and Practice.</i>
                        </p>
                        <ul>
                            <li>
                                Link: <a href="http://www.siop.org/journal/Article_1.aspx" target="blank">http://www.siop.org/journal/Article_1.aspx</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            Greenaway, K.H., Louis, W.R., Parker, S.L., <strong>Kalokerinos, E.K.</strong>, Smith, J.R., & Terry, D.J. (in press). Measures of coping for psychological wellbeing.
                            G. Boyle & D. Saklofske (eds.), <i>Measures of Personality and Social Psychological Constructs.</i>
                        </p>
                    </li>
                    <li>
                        <p>
                            von Hippel, C., <strong>Kalokerinos, E. K.</strong>, & Henry, J. D. (2013). Stereotype threat among older employees: Relationship with job attitudes and turnover intentions.
                            <i>Psychology and Aging, 28</i>(1), 17-27. doi: 10.1037/a0029825
                        </p>
                        <ul>
                            <li>
                                Link: <a href="http://psycnet.apa.org/journals/pag/28/1/17.pdf" target="blank">http://psycnet.apa.org/journals/pag/28/1/17.pdf</a>
                            </li>
                            <li>
                                Link to National Seniors Australia grant report: <a href="http://www.productiveageing.com.au/userfiles/file/Stereotype%20Threat%20-%20full%20report.pdf" target="blank">http://www.productiveageing.com.au/userfiles/file/Stereotype%20Threat%20-%20full%20report.pdf</a>
                            </li>
                            <li>
                                Link to press release from National Seniors Australia: <a href="http://nationalseniors.com.au/about-us/press-%26-media/demeaning-stereotypes-threat-older-workers-study-finds" target="blank">http://nationalseniors.com.au/about-us/press-%26-media/demeaning-stereotypes-threat-older-workers-study-finds</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            von Hippel, C., & <strong>Kalokerinos, E. K.</strong> (2012). When temporary employees are perceived as threatening: Antecedents and consequences.
                            <i>Leadership & Organization Development Journal, 33</i>(2), 200-216. doi: 10.1108/01437731211203483
                        </p>
                        <ul>
                            <li>
                                Link: <a href="http://www.emeraldinsight.com/journals.htm?articleid=17019176" target="blank">http://www.emeraldinsight.com/journals.htm?articleid=17019176</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>