
@{
    ViewBag.Title = "Index";
}

<section class="slice">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Publications</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Use this area to provide additional information.</p>
            </div>
        </div>
    </div>
</section>